<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
<link href="__ADMIN__/bootstrap/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/bootstrap/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__/bootstrap/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--百度编辑器开始-->
<script src="__UEDITOR__/ueditor.config.js" type="text/javascript"></script>
{if condition="!$Request.isMobile"}
    <script src="__UEDITOR__/ueditor.all.min.js" type="text/javascript"></script>
{else /}
    <script src="__UEDITOR__/mobile.ueditor.all.min.js" type="text/javascript"></script>
{/if}
{if condition="$Think.get.lang eq 'cn' or $Think.get.lang eq 'tw'"}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/zh-cn/zh-cn.js"></script>
{else /}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/en/en.js"></script>
{/if}
<!--百度编辑器结束-->
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{$Think.lang.v_home}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{$Think.lang.v_project_manage}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{eq name="rs.id" value=""}{$Think.lang.v_add}{else /}{$Think.lang.v_edit}{/eq} {$Think.lang.v_project}</span></li>
                        </ul>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="row margin-top-20">
                        <div class="col-md-12">
                            <form name="editform" id="editform" method="post" action="" class="form-horizontal" id="validationForm">
                                <input type="hidden" name="id" value="{$rs.id}">
				                <input type="hidden" name="lang" value="{:input('get.lang')}">
				                <input type="hidden" name="moduleid" value="{:input('get.moduleid')}">
                                {php}$isdisplay_array=explode(',',$modulenav['isdisplay']);{/php}
                                <div class="portlet bg-green bg-font-white">
                                    <div class="portlet-body">
                                        <div class="tabbable-bordered">
                                            <div class="edit_nav_left">
                                                <i class="fa fa-edit font-white"></i> <span class="font-white">{eq name="rs.id" value=""}{$Think.lang.v_add}{else /}{$Think.lang.v_edit}{/eq} {$Think.lang.v_project}</span>
                                            </div>
                                            <ul class="nav nav-tabs tabs-reversed"></ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_general">
                                                    <div class="form-body">
                                                        <div class="alert alert-danger display-hide"><button class="close" data-close="alert"></button>{$Think.lang.v_error_tips}</div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_sort}</label>
                                                            <div class="col-md-5">
                                                                <select name="sortid" onchange="showAttribute(this.value)" autocomplete="off" id="single" class="form-control select2">
										                            {php}$LoadSortID = $rs['sortid'];{/php}
								                                    {foreach name="Sort" item="k"}
											                            {php}if($key==0 && empty($rs['sortid'])) $LoadSortID = $k['id'];{/php}
                                                                        <option value="{$k['id']}" {if condition="$rs['sortid']==$k['id']"}selected="selected"{/if}>{$k['html']} {$k['title']}</option>
                                                                    {/foreach}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        {if condition="(in_array('attribute',$isdisplay_array))"}
                                                            <div id="attNameValue"></div>
                                                        {/if}
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_title}<span class="required" aria-required="true">*</span></label>
                                                            <div class="col-md-5">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="title" id="title" onblur="strtopy();" value="{$rs.title}" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_seo} {$Think.lang.v_title}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="seotitle" value="{$rs.seotitle}" placeholder="{$Think.lang.v_seo_use_title}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_keyword}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="keyword" value="{$rs.keyword}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_description}</label>
                                                            <div class="col-md-5">
                                                                <textarea name="description" rows="4" class="form-control">{$rs['description']}</textarea>
                                                            </div>
                                                        </div>
                                                        {if condition="(in_array('fileurl',$isdisplay_array))"}
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_upload_file}</label>
                                                                <div class="col-md-5">
                                                                    <div class="input-group"><input name="fileurl" id="file" type="text" class="form-control" value="{$rs['fileurl']}" /> <span class="input-group-btn"><input type="button" value=" {$Think.lang.v_upload_file} " class="btn green" onclick="upFiles();"></span></div>
                                                                </div>
                                                            </div>
                                                        {/if}
                                                        {if condition="(in_array('morecontents',$isdisplay_array))"}
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_content_a}</label>
                                                                <div class="col-md-9">
                                                                    <button type="button" name="ShowUeditor1" id="ShowUeditor1" onclick="ShowUeditor1a();" class="btn green btn-sm" />{$Think.lang.v_editor_showornot}</button>
                                                                    <textarea name="content1" id="content1a" style="width:100%; height:350px; display:none;">{$rs['content1']}</textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_content_b}</label>
                                                                <div class="col-md-9">
                                                                    <button type="button" name="ShowUeditor2" id="ShowUeditor2" onclick="ShowUeditor2a();" class="btn green btn-sm" />{$Think.lang.v_editor_showornot}</button>
                                                                    <textarea name="content2" id="content2a" style="width:100%; height:350px; display:none;">{$rs['content2']}</textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_content_c}</label>
                                                                <div class="col-md-9">
                                                                    <button type="button" name="ShowUeditor3" id="ShowUeditor3" onclick="ShowUeditor3a();" class="btn green btn-sm" />{$Think.lang.v_editor_showornot}</button>
                                                                    <textarea name="content3" id="content3a" style="width:100%; height:350px; display:none;">{$rs['content3']}</textarea>
                                                                </div>
                                                            </div>
                                                        {else /}
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_content_a}</label>
                                                                <div class="col-md-9">
                                                                    <textarea name="content1" id="content1a" style="width:100%; height:350px;">{$rs['content1']}</textarea>
                                                                </div>
                                                            </div>
                                                        {/if}
                                                            <div class="form-group {if condition="(in_array('area',$isdisplay_array))"}{else /}hidden{/if}">
                                                                <label class="control-label col-md-3">{$Think.lang.v_area}</label>
                                                                <div class="col-md-9" id="area">
                                                                    {for start="1" end="5"}
                                                                        <select name="areaid" class="area{$i} form-control input-small input-inline" data-style="btn-primary">
                                                                            {neq name="rs.id" value=""}<!--编辑状态-->
                                                                                {switch name="i"}
                                                                                    {case value="1"}<option value="{$a}" selected>{/case}
                                                                                    {case value="2"}<option value="{$b}" selected>{/case}
                                                                                    {case value="3"}<option value="{$c}" selected>{/case}
                                                                                    {case value="4"}<option value="{$d}" selected>{/case}
                                                                                {/switch}
                                                                                </option>
                                                                            {/neq}
                                                                        </select>
                                                                    {/for}
                                                                </div>
                                                            </div>
                                                        {if condition="(in_array('thumb',$isdisplay_array))"}
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_img}</label>
                                                                <div class="col-md-5">
                                                                    <div class="input-group"><input name="thumb" id="morepics1" type="text" class="form-control" value="{$rs['thumb']}" /> <span class="input-group-btn"><input type="button" value=" {$Think.lang.v_upload_img} " class="btn green" onclick="upImage1();"></span></div>
                                                                </div>
                                                            </div>
                                                        {/if}<!--更多图片-->
                                                        {if condition="(in_array('morepics',$isdisplay_array))"}
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">{$Think.lang.v_more_img}</label>
                                                                <div class="col-md-5">
                                                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="tab1">
												                        {if condition="empty($rs['morepics'])"}
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="input-group">
                                                                                        <input type="text" name="morepics[]" id="morepics2" value="{$rs['morepics']}" class="form-control">
                                                                                        <span class="input-group-btn">
                                                                                            <input type="button" onClick="upImage2();" value=" {$Think.lang.v_upload_img} " class="btn green borderradius" /><input type="button" class="btn blue borderradius_left0" value="{$Think.lang.v_add_one}" onClick="javascript:AddRow();" />
                                                                                        </span><input type="hidden" name="fuJ" id="fuJ1" />
                                                                                    </div>
                                                                                </td>
                                                                            </tr>                        
												                        {else /}
												                            {volist name="morepics" id="img"}
                                                                                <tr>
                                                                                    <td>
                                                                                        <div class="input-group">
                                                                                            <input type="text" name="morepics[]" id="morepics{$i+1}" value="{$img}" class="form-control">
                                                                                            <span class="input-group-btn">
                                                                                                <input type="button" onClick="upImage{$i+1}();" value=" {$Think.lang.v_upload_img} " class="btn green borderradius" />
                                                                                                {eq name="i" value="1"}
                                                                                                    <input type="button" class="btn blue borderradius_left0" value="{$Think.lang.v_add_one}" onClick="javascript:AddRow();" />
                                                                                                {else /}
                                                                                                    <label class="btn red borderradius_left0"><input type="checkbox" class="hidden" id="box1" onClick="javascript:DelRow();" />{$Think.lang.v_delete_this}</label>
                                                                                                {/eq}
                                                                                            </span><input type="hidden" name="fuJ" id="fuJ1" />
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>                        
                                                                            {/volist}
												                        {/if}
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        {/if}
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_urlroute}</label>
                                                            <div class="col-md-5">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="urlroute" id="urlroute" placeholder="{$Think.lang.v_urlroute_tips}" value="{$rs.urlroute}" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_sequence}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="sequence" value="{eq name="rs.sequence" value=""}0{else /}{$rs.sequence}{/eq}" onKeyDown="if(event.keyCode==13)event.returnValue=false" onChange="if(/\D/.test(this.value)){alert('{$Think.lang.v_require_number}！');this.value='0';}" />
                                                            </div>
                                                        </div>
                                                        {if condition="(in_array('hits',$isdisplay_array))"}
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_click}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="hits" value="{eq name="rs.hits" value=""}1{else /}{$rs.hits}{/eq}" onKeyDown="if(event.keyCode==13)event.returnValue=false" onChange="if(/\D/.test(this.value)){alert('{$Think.lang.v_require_number}！');this.value='1';}" />
                                                            </div>
                                                        </div>
                                                        {/if}
                                                        <div class="form-group {if condition="(in_array('client',$isdisplay_array))"}{else /}hidden{/if}">
                                                            <label class="control-label col-md-3">{$Think.lang.v_client}</label>
                                                            <div class="col-md-5">
                                                                <div class="checkbox-list">
                                                                    {php}$client_array=explode(',',$rs['client']);{/php}
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" name="client[]" value="pc" {if condition="(in_array('pc',$client_array)) or $rs['client'] eq ''"}checked="checked"{/if}>{$Think.lang.v_client_pc}
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" name="client[]" value="wap" {if condition="(in_array('wap',$client_array)) or $rs['client'] eq ''"}checked="checked"{/if}>{$Think.lang.v_client_mobile}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group {if condition="(in_array('status',$isdisplay_array))"}{else /}hidden{/if}">
                                                            <label class="control-label col-md-3">{$Think.lang.v_status}</label>
                                                            <div class="col-md-5">
                                                                <div class="checkbox-list">
                                                                    {php}$status_array=explode(',',$rs['status']);{/php}
                                                                    <label class="checkbox-inline">
                                                                        <input name="status[]" type="checkbox" value="view" {if condition="(in_array('view',$status_array)) or $rs['status'] eq ''"}checked="checked"{/if} />{$Think.lang.v_status_show}
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input name="status[]" type="checkbox" class="ml10r5" value="commend" {if condition="(in_array('commend',$status_array)) or $rs['status'] eq ''"}checked="checked"{/if} />{$Think.lang.v_status_commend}
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input name="status[]" type="checkbox" class="ml10r5" value="new" {if condition="(in_array('new',$status_array)) or $rs['status'] eq ''"}checked="checked"{/if} />{$Think.lang.v_status_new}
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input name="status[]" type="checkbox" class="ml10r5" value="hot" {if condition="(in_array('hot',$status_array)) or $rs['status'] eq ''"}checked="checked"{/if} />{$Think.lang.v_status_hot}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group {if condition="(in_array('addtime',$isdisplay_array))"}{else /}hidden{/if}">
                                                            <label class="control-label col-md-3">{$Think.lang.v_adddate}</label>
                                                            <div class="col-md-5">
                                                                <div class="input-group date form_datetime">
                                                                    <input type="text" class="form-control" name="addtime" readonly="readonly" value="{php}if(empty($rs['addtime'])){ echo date('Y-m-d H:i:s',time()); }else{ echo date('Y-m-d H:i:s',$rs['addtime']);}{/php}" />
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn default date-set"><i class="fa fa-calendar"></i></button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {if condition="(in_array('linkurl',$isdisplay_array))"}
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_jump_url}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="linkurl" value="{$rs.linkurl}" />
                                                            </div>
                                                        </div>
                                                        {/if}
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green"><i class="fa fa-check"></i> {$Think.lang.v_save}</button>
                                                            <button type="button" class="btn default" onclick="javascript:history.back(-1);">{$Think.lang.v_goback}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
<!--汉字转拼音 开始-->
<!--前提要引入JQ-->
<script type="text/javascript">
function strtopy(){
	var abc = $("#title").val();
	$.post("{:url('base/pinyin')}",{title:abc},function(data){
		document.editform.urlroute.value=data;
	});
}
</script>
<!--汉字转拼音 结束-->
<!--日期选择 开始-->
<script src="__ADMIN__/bootstrap/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
{eq name="Think.get.lang" value="cn"}
<script type="text/javascript" src="__ADMIN__/bootstrap/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
{/eq}
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii:ss",
		autoclose: true,
		todayBtn: true,
		{eq name="Think.get.lang" value="cn"}
		language: 'zh-CN',
		{/eq}
		pickerPosition: "bottom-left"
    });
</script>
<!--日期选择 结束-->
<script src="__ADMIN__/bootstrap/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="__ADMIN__/bootstrap/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="__ADMIN__/bootstrap/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<!--文件上传开始-->
<script type="text/plain" id="input_editor" style="display:none;"></script>
<script type="text/javascript">
//弹出文件上传的对话框
    var url='{:url('Ueditor/Index')}';
    //实例化编辑器
    var upload_editor = UE.getEditor('input_editor',{
        serverUrl :url,
        UEDITOR_HOME_URL:'/public/ueditor/',
    });
function upFiles(){
	  
    upload_editor.ready(function(){
        upload_editor.execCommand('serverparam', {
        'userid': 'file',//图片子文件夹，以用户ID命名
        });

        upload_editor.hide();//隐藏编辑器
	    //文件上传监听
        // 需要在ueditor.all.min.js文件中找到d.execCommand("insertHtml",l)之后插入d.fireEvent('afterUpfile',b)
	    upload_editor.addListener('afterUpfile', function (t, arg){
            document.getElementById("file").value=arg[0].url;
        });
    });
	
    //弹出文件上传的对话框
    var myFiles = upload_editor.getDialog("attachment");
    myFiles.open();
} 
</script>
<!--文件上传结束-->
<!--富文本编辑器开始-->
{if condition="(in_array('morecontents',$isdisplay_array))"}
<script type="text/javascript">
{php}for($i=1;$i<4;$i++){{/php}
function ShowUeditor{$i}a(){
    var url='{:url('Ueditor/Index')}';
    var ue = UE.getEditor('content{$i}a',{
        serverUrl :url,
    });
    if(content{$i}a.style.display=="block"){
        content{$i}a.style.display='none';
    }else{
        content{$i}a.style.display='block';
    }
}
{php}}{/php}
</script>
{else /}
<script type="text/javascript">
    var url='{:url('Ueditor/Index')}';
    var ue = UE.getEditor('content1a',{
        serverUrl :url,
    });
</script>
{/if}
<!--富文本编辑器结束-->

<!--属性开始-->
{if condition="(in_array('attribute',$isdisplay_array))"}
<script type="text/javascript">
jQuery(function($) {
    showAttribute({php}echo $LoadSortID;{/php});
});

var xmlHttp;

function showAttribute(str){ 
    xmlHttp=GetXmlHttpObject()
    if(xmlHttp==null){
        alert ("Browser does not support HTTP Request")
        return
    }
    var url="{:url('Attribute/getAttribute')}"
    url=url+"?sortid="+str
    url=url+"&infoid={$rs['id']}"
//    url=url+"&mulu="
    url=url+"&sid="+Math.random()
    xmlHttp.onreadystatechange=stateChanged 
    xmlHttp.open("GET",url,true)
    xmlHttp.send(null);
}

function stateChanged(){ 
    if (xmlHttp.readyState==4 || xmlHttp.readyState=="complete"){ 
        document.getElementById("attNameValue").innerHTML=xmlHttp.responseText 
    } 
}

function GetXmlHttpObject(){
    var xmlHttp=null;
    try{
        // Firefox, Opera 8.0+, Safari
        xmlHttp=new XMLHttpRequest();
    }
    catch (e){
        //Internet Explorer
        try{xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");}
        catch (e){xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");}
    }
    return xmlHttp;
}
</script>
{/if}
<!--属性结束-->
<!--图片上传开始-->
{if condition="(in_array('morepics',$isdisplay_array))"}
    {php}$step=13;{/php}
{else /}
    {php}$step=2;{/php}
{/if}
{for start="1" end="$step"}
<script type="text/plain" id="input_editor{$i}" style="display:none;"></script>
<script type="text/javascript">
    var url='{:url('Ueditor/Index')}';
    var upload_editor{$i} = UE.getEditor('input_editor{$i}',{
        serverUrl :url,
        UEDITOR_HOME_URL:'/public/ueditor/',
    });
function upImage{$i}(){
	  
    upload_editor{$i}.ready(function(){
        upload_editor{$i}.execCommand('serverparam', {
        'userid': 'image',
        });

        upload_editor{$i}.hide();
        upload_editor{$i}.addListener('beforeInsertImage', function (t,arg){
            document.getElementById("morepics{$i}").value=arg[0].src;
        });
    });
    var myImage{$i} = upload_editor{$i}.getDialog("insertimage");
    myImage{$i}.open();
}
</script>
{/for}
<!--图片上传结束-->
<!--多图增减开始-->
{if condition="(in_array('morepics',$isdisplay_array))"}
<script type="text/javascript">
function AddRow(){
//添加一行
    var i =tab1.rows.length;
    var Nam="'div1'";
    var Cod="fuJ"+i;
    var newTr = tab1.insertRow();
	var morepicsNum={$morepicsNum}+i;
    //添加列
    var newTd0 = newTr.insertCell();
    newTd0.innerHTML = '<div class="input-group"><input type="text" name="morepics[]" id="morepics'+morepicsNum+'" value="" class="form-control" /><span class="input-group-btn"><input type="button" onClick="upImage'+morepicsNum+'();" value=" {$Think.lang.v_upload_img} " class="btn green borderradius" /><label class="btn red borderradius_left0"><input type="checkbox" class="hidden" id="box1" onclick="javascript:DelRow();"/ />{$Think.lang.v_delete_this}</label><input type="hidden" name="fuJ" id='+Cod+' /></span></div>';
}
function DelRow(){
//删除一行
    var shu=0;
    var cheCou=document.all("box1");
    for(var i=0;i<cheCou.length;i++){
        if (cheCou[i].checked==true){
            shu++;
        }
    }
    if(shu==cheCou.length){
        return;
    }else  if(shu==0){
        tab1.deleteRow(1);
    }else if(shu==1){
        for(var i=0;i<cheCou.length;i++){
            if(cheCou[i].checked==true){
                tab1.deleteRow(i+1);
            }
        }
    }else if(shu>1){
        for(var a=0;a<shu;a++){
            for(var i=0;i<cheCou.length;i++){
                if(cheCou[i].checked==true){
                    tab1.deleteRow(i+1);
                    break;
                }
            }
        }
    }
}
function GetRow(){
    //获得行索引
    //两个parentElement分别是TD和TR哟，rowIndex是TR的属性
    //this.parentElement.parentElement.rowIndex
    cGetRow=window.event.srcElement.parentElement.parentElement.rowIndex;
}
</script>
{/if}
<!--多图增减结束-->
<!--地区开始-->
<script src="__ADMIN__/js/jquery.cxselect.min.js"></script>
<script type="text/javascript">
$('#area').cxSelect({
  url: {$areaArr},
  selects: [{for start="1" end="5"}'area{$i}'{neq name="i" value="4"},{/neq}{/for}],
  required: true,
  jsonName: 'title', 
  jsonValue: 'id', 
  jsonSub: '0', 
  nodata: 'none'
});
</script>
<!--地区结束-->
</body>
</html>