<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{:lang('内容管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('快速编辑')}</span></li>
                        </ul>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="col-md-12 margin-top-10 margin-bottom-10"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--模块 开始-->
                            {volist name="modulelist" id="modulers"}
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips">
                                    <a href="{:url($modulers['tabledir'].'/edit?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}">
                                    {switch name="modulers.id"}
                                        {case value="1"}<div class="color-view bg-green bg-font-green uppercase"><i class="icon-grid"></i> {:lang('添加')} {:lang('产品')}</div></a><div class="color-info bg-white c-font-14"><a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}"><i class="icon-grid"></i> {:lang('产品')} {:lang('管理')}</a></div>{/case}
                                        {case value="2"}<div class="color-view bg-blue bg-font-blue uppercase"><i class="icon-book-open"></i> {:lang('添加')} {:lang('新闻')}</div></a><div class="color-info bg-white c-font-14"><a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}"><i class="icon-book-open"></i> {:lang('新闻')} {:lang('管理')}</a></div>{/case}
                                        {case value="3"}<div class="color-view bg-blue-madison bg-font-blue-madison uppercase"><i class="icon-doc"></i> {:lang('添加')} {:lang('单页')}</div></a><div class="color-info bg-white c-font-14"><a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}"><i class="icon-doc"></i> {:lang('单页')} {:lang('管理')}</a></div>{/case}
                                        {case value="4"}<div class="color-view bg-blue-hoki bg-font-blue-hoki uppercase"><i class="icon-badge"></i> {:lang('添加')} {:lang('案例')}</div></a><div class="color-info bg-white c-font-14"><a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}"><i class="icon-badge"></i> {:lang('案例')} {:lang('管理')}</a></div>{/case}
                                        {case value="5"}<div class="color-view bg-blue-steel bg-font-blue-steel uppercase"><i class="icon-paper-clip"></i> {:lang('添加')} {:lang('下载')}</div></a><div class="color-info bg-white c-font-14"><a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}"><i class="icon-paper-clip"></i> {:lang('下载')} {:lang('管理')}</a></div>{/case}
                                        {default /><div class="color-view bg-green bg-font-green uppercase"><i class="icon-notebook"></i> {:lang('添加')} {$modulers['title']}</div></a><div class="color-info bg-white c-font-14"><a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}"><i class="icon-notebook"></i> {$modulers['title']} {:lang('管理')}</a></div>
                                    {/switch}
                                </div>
                            </div>
                            {/volist}
                            <!--模块 结束-->
                            <!--全局 开始-->
                            <!--网站设置-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('siteinfo/index?lang='.input('get.lang'))}"><div class="color-view bg-green-jungle bg-font-green-jungle uppercase"><i class="icon-settings"></i> {:lang('网站设置')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-list-alt"></i></div></div>
                            </div>
                            <!--字段-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Field/index?lang='.input('get.lang'))}"><div class="color-view bg-green-haze bg-font-green-haze uppercase"><i class="fa fa-list-alt"></i> {:lang('字段')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-list-alt"></i></div></div>
                            </div>
                            <!--留言-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Guestbook/index?lang='.input('get.lang'))}"><div class="color-view bg-green-seagreen bg-font-green-seagreen uppercase"><i class="icon-notebook"></i> {:lang('留言')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-list-alt"></i></div></div>
                            </div>
                            <!--客服-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Chat/index?lang='.input('get.lang'))}"><div class="color-view bg-green-sharp bg-font-green-sharp uppercase"><i class="fa fa-comments"></i> {:lang('在线客服')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-comments"></i></div></div>
                            </div>
                            <!--广告-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Ad/index?lang='.input('get.lang'))}"><div class="color-view bg-red-flamingo bg-font-red-flamingo uppercase"><i class="fa fa-bullhorn"></i> {:lang('广告')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-bullhorn"></i></div></div>
                            </div>
                            <!--关键词-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('keywordlink/index?lang='.input('get.lang'))}"><div class="color-view bg-red bg-font-red uppercase"><i class="fa fa-flag"></i> {:lang('关键词')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-bullhorn"></i></div></div>
                            </div>
                            <!--导航-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Navigation/index?lang='.input('get.lang'))}"><div class="color-view bg-yellow-gold bg-font-yellow-gold uppercase"><i class="fa fa-navicon"></i> {:lang('导航')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-navicon"></i></div></div>
                            </div>
                            <!--评论-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Comment/index?lang='.input('get.lang'))}"><div class="color-view bg-yellow bg-font-yellow uppercase"><i class="fa fa-commenting-o"></i> {:lang('评论')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-commenting-o"></i></div></div>
                            </div>
                            <!--地区-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Area/index?lang='.input('get.lang'))}"><div class="color-view bg-yellow-crusta bg-font-yellow-crusta uppercase"><i class="fa fa-map-marker"></i> {$Think.lang.v_area} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-map-marker"></i></div></div>
                            </div>
                            <!--用户-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('User/index?lang='.input('get.lang'))}"><div class="color-view bg-yellow-mint bg-font-yellow-mint uppercase"><i class="fa fa-user"></i> {:lang('用户')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-user"></i></div></div>
                            </div>
                            <!--用户组-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('AuthGroup/index?lang='.input('get.lang'))}"><div class="color-view bg-purple bg-font-purple uppercase"><i class="fa fa-users"></i> {:lang('用户组')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-users"></i></div></div>
                            </div>
                            <!--权限-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('AuthRule/index?lang='.input('get.lang'))}"><div class="color-view bg-purple-seance bg-font-purple-seance uppercase"><i class="fa fa-briefcase"></i> {:lang('权限')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-briefcase"></i></div></div>
                            </div>
                            <!--语言-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Language/index?lang='.input('get.lang'))}"><div class="color-view bg-purple-sharp bg-font-purple-sharp uppercase"><i class="fa fa-language"></i> {:lang('语言')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-language"></i></div></div>
                            </div>
                            <!--模块-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Module/index?lang='.input('get.lang'))}"><div class="color-view bg-red-soft bg-font-red-soft uppercase"><i class="fa fa-cubes"></i> {:lang('模块')} {:lang('管理')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-cubes"></i></div></div>
                            </div>
                            <!--参数-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Config/index?lang='.input('get.lang'))}"><div class="color-view bg-red-flamingo bg-font-red-flamingo uppercase"><i class="fa fa-cogs"></i> {:lang('参数设置')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-cogs"></i></div></div>
                            </div>
                            <!--数据库-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Databackup/index?lang='.input('get.lang'))}"><div class="color-view bg-green-meadow bg-font-green-meadow uppercase"><i class="fa fa-database"></i> {:lang('数据库')} {:lang('备份')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-database"></i></div></div>
                            </div>
                            <!--缓存-->
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="color-demo tooltips"><a href="{:url('Index/delCache?lang='.input('lang'))}"><div class="color-view bg-blue-soft bg-font-blue-soft uppercase"><i class="fa fa-refresh"></i> {:lang('清理缓存')}</div></a><div class="color-info bg-white c-font-14"><i class="fa fa-refresh"></i></div></div>
                            </div>
                            <!--全局 结束-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
</body>
</html>