<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
                    <!--侧边栏菜单 开始-->
                    <ul class="page-sidebar-menu  page-header-fixed hidden-sm hidden-xs" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        {volist name="modulelist" id="modulers"}
                        {php}$isdisplay_array=explode(',',$modulers['isdisplay']);{/php}
                        <li class="nav-item {eq name="modulers.id" value="$Think.get.moduleid"}active open{/eq}">
                            <a href="javascript:;" class="nav-link nav-toggle">
				                {switch name="modulers.id"}
                                    {case value="1"}<i class="icon-grid"></i>{/case}
                                    {case value="2"}<i class="icon-book-open"></i>{/case}
                                    {case value="3"}<i class="icon-doc"></i>{/case}
                                    {case value="4"}<i class="icon-badge"></i>{/case}
                                    {case value="5"}<i class="icon-paper-clip"></i>{/case}
                                    {default /}<i class="icon-grid"></i>
                                {/switch}
                                <span class="title">
				                    {switch name="modulers.id"}
                                        {case value="1"}{:lang('产品')}{/case}
                                        {case value="2"}{:lang('新闻')}{/case}
                                        {case value="3"}{:lang('单页')}{/case}
                                        {case value="4"}{:lang('案例')}{/case}
                                        {case value="5"}{:lang('下载')}{/case}
                                        {default /}{$modulers.title}
                                    {/switch} {:lang('管理')}
                                </span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                {in name="'addinfo'" value="$isdisplay_array"}<!--是否显示添加信息-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'edit'"} active open{/if}">
                                    <a href="{:url($modulers['tabledir'].'/edit?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-edit"></i>
                                        {:lang('添加')}
				                        {switch name="modulers.id"}
                                            {case value="1"}{:lang('产品')}{/case}
                                            {case value="2"}{:lang('新闻')}{/case}
                                            {case value="3"}{:lang('单页')}{/case}
                                            {case value="4"}{:lang('案例')}{/case}
                                            {case value="5"}{:lang('下载')}{/case}
                                            {default /}{$modulers.title}
                                        {/switch}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'edit'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {/in}
                                <!--信息管理-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'index'"} active open{/if}">
                                    <a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-th"></i>
				                        {switch name="modulers.id"}
                                            {case value="1"}{:lang('产品')}{/case}
                                            {case value="2"}{:lang('新闻')}{/case}
                                            {case value="3"}{:lang('单页')}{/case}
                                            {case value="4"}{:lang('案例')}{/case}
                                            {case value="5"}{:lang('下载')}{/case}
                                            {default /}{$modulers.title}
                                        {/switch} {:lang('管理')}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'index'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {in name="'sort'" value="$isdisplay_array"}<!--是否显示分类-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Sort'"} active open{/if}">
                                    <a href="{:url('Sort/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-sitemap"></i>
				                        {switch name="modulers.id"}
                                            {case value="1"}{:lang('产品')}{/case}
                                            {case value="2"}{:lang('新闻')}{/case}
                                            {case value="3"}{:lang('单页')}{/case}
                                            {case value="4"}{:lang('案例')}{/case}
                                            {case value="5"}{:lang('下载')}{/case}
                                            {default /}{$modulers.title}
                                        {/switch} {:lang('分类')}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Sort'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {/in}
                                {in name="'attribute'" value="$isdisplay_array"}<!--是否显示属性-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Attribute'"} active open{/if}">
                                    <a href="{:url('Attribute/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-tag"></i>
				                        {switch name="modulers.id"}
                                            {case value="1"}{:lang('产品')}{/case}
                                            {case value="2"}{:lang('新闻')}{/case}
                                            {case value="3"}{:lang('单页')}{/case}
                                            {case value="4"}{:lang('案例')}{/case}
                                            {case value="5"}{:lang('下载')}{/case}
                                            {default /}{$modulers.title}
                                        {/switch} {:lang('属性')}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Attribute'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {/in}
                            </ul>
                        </li>
                        {/volist}
                    </ul>
                    <!--侧边栏菜单 结束-->
