<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
                <div class="page-sidebar-wrapper">
                    <!--响应式水平和侧边栏菜单 开始-->
                    <ul class="page-sidebar-menu visible-sm visible-xs  page-header-fixed">
                        <!--内容管理开始-->
                        {volist name="modulelist" id="modulers"}
                        {php}$isdisplay_array=explode(',',$modulers['isdisplay']);{/php}
                        <li class="nav-item {eq name="modulers.id" value="$Think.get.moduleid"}active open{/eq}">
                            <a href="javascript:;" class="nav-link nav-toggle">
				                {switch name="modulers.id"}
                                    {case value="1"}<i class="icon-grid"></i>{/case}
                                    {case value="2"}<i class="icon-book-open"></i>{/case}
                                    {case value="3"}<i class="icon-doc"></i>{/case}
                                    {case value="4"}<i class="icon-badge"></i>{/case}
                                    {case value="5"}<i class="icon-paper-clip"></i>{/case}
                                    {default /}<i class="icon-grid"></i>
                                {/switch}
                                <span class="title">
				                    {switch name="modulers.id"}
                                        {case value="1"}{$Think.lang.v_product}{/case}
                                        {case value="2"}{$Think.lang.v_news}{/case}
                                        {case value="3"}{$Think.lang.v_about_module}{/case}
                                        {case value="4"}{$Think.lang.v_project}{/case}
                                        {case value="5"}{$Think.lang.v_down}{/case}
                                        {default /}{$modulers.title}
                                    {/switch} {$Think.lang.v_manage}
                                </span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                {in name="'addinfo'" value="$isdisplay_array"}<!--是否显示添加信息-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'edit'"} active open{/if}">
                                    <a href="{:url($modulers['tabledir'].'/edit?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-edit"></i>
                                        {$Think.lang.v_add}
				                        {switch name="modulers.id"}
                                            {case value="1"}{$Think.lang.v_product}{/case}
                                            {case value="2"}{$Think.lang.v_news}{/case}
                                            {case value="3"}{$Think.lang.v_about_module}{/case}
                                            {case value="4"}{$Think.lang.v_project}{/case}
                                            {case value="5"}{$Think.lang.v_down}{/case}
                                            {default /}{$modulers.title}
                                        {/switch}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'edit'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {/in}
                                <!--信息管理-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'index'"} active open{/if}">
                                    <a href="{:url($modulers['tabledir'].'/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-th"></i>
				                        {switch name="modulers.id"}
                                            {case value="1"}{$Think.lang.v_product}{/case}
                                            {case value="2"}{$Think.lang.v_news}{/case}
                                            {case value="3"}{$Think.lang.v_about_module}{/case}
                                            {case value="4"}{$Think.lang.v_project}{/case}
                                            {case value="5"}{$Think.lang.v_down}{/case}
                                            {default /}{$modulers.title}
                                        {/switch} {$Think.lang.v_manage}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq $modulers.tabledir and $Request.action eq 'index'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {in name="'sort'" value="$isdisplay_array"}<!--是否显示分类-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Sort'"} active open{/if}">
                                    <a href="{:url('Sort/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-sitemap"></i>
				                        {switch name="modulers.id"}
                                            {case value="1"}{$Think.lang.v_product}{/case}
                                            {case value="2"}{$Think.lang.v_news}{/case}
                                            {case value="3"}{$Think.lang.v_about_module}{/case}
                                            {case value="4"}{$Think.lang.v_project}{/case}
                                            {case value="5"}{$Think.lang.v_down}{/case}
                                            {default /}{$modulers.title}
                                        {/switch} {$Think.lang.v_sort}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Sort'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {/in}
                                {in name="'attribute'" value="$isdisplay_array"}<!--是否显示属性-->
                                <li class="nav-item {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Attribute'"} active open{/if}">
                                    <a href="{:url('Attribute/index?moduleid='.$modulers['id'].'&lang='.input('get.lang'))}" class="nav-link ">
                                        <i class="fa fa-tag"></i>
				                        {switch name="modulers.id"}
                                            {case value="1"}{$Think.lang.v_product}{/case}
                                            {case value="2"}{$Think.lang.v_news}{/case}
                                            {case value="3"}{$Think.lang.v_about_module}{/case}
                                            {case value="4"}{$Think.lang.v_project}{/case}
                                            {case value="5"}{$Think.lang.v_down}{/case}
                                            {default /}{$modulers.title}
                                        {/switch} {$Think.lang.v_attribute}
                                        {if condition="$modulers.id eq $Think.get.moduleid and $Request.controller eq 'Attribute'"}<span class="fa fa-angle-right pull-right"></span>{/if}
                                    </a>
                                </li>
                                {/in}
                            </ul>
                        </li>
                        {/volist}
                        <!--内容管理结束-->
                        <!--全局管理开始-->
                        <li class="nav-item
                            {switch name="Request.controller"}
                                {case value="Field|Chat|Ad|Navigation|Comment|Area|User"} active open{/case}
                            {/switch}">
                            <a href="javascript:;" class="nav-link nav-toggle">
				                <i class="icon-globe"></i>
                                <span class="title">{$Think.lang.v_global}</span>
                                <span class="selected"></span><span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item {eq name="Request.controller" value="Field"} active open{/eq}">
                                    <a href="{:url('Field/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-list-alt"></i> {$Think.lang.v_field} {$Think.lang.v_manage}{eq name="Request.controller" value="Field"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {eq name="Think.config.chat" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Chat"} active open{/eq}">
                                    <a href="{:url('Chat/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-comments"></i> {$Think.lang.v_chat}{eq name="Request.controller" value="Chat"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.advertisement" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Ad"} active open{/eq}">
                                    <a href="{:url('Ad/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-bullhorn"></i> {$Think.lang.v_ad} {$Think.lang.v_manage}{eq name="Request.controller" value="Ad"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.navigation" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Navigation"} active open{/eq}">
                                    <a href="{:url('Navigation/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-navicon"></i> {$Think.lang.v_navigation} {$Think.lang.v_manage}{eq name="Request.controller" value="Navigation"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.comment" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Comment"} active open{/eq}">
                                    <a href="{:url('Comment/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-commenting-o"></i> {$Think.lang.v_comment} {$Think.lang.v_manage}{eq name="Request.controller" value="Comment"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.area" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Area"} active open{/eq}">
                                    <a href="{:url('Area/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-map-marker"></i> {$Think.lang.v_area_manage}{eq name="Request.controller" value="Area"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                <li class="nav-item {eq name="Request.controller" value="User"} active open{/eq}">
                                    <a href="{:url('User/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-user"></i> {$Think.lang.v_user_manage}{eq name="Request.controller" value="User"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                            </ul>
                        </li>
                        {if condition="$Think.config.authgroup eq 1 or $Think.config.authrule eq 1 or $Think.config.language eq 1 or $Think.config.module eq 1 or $Think.config.parametersetting eq 1 or $Think.config.databackup eq 1"}
                        <li class="nav-item
                            {switch name="Request.controller"}
                                {case value="AuthGroup|AuthRule|Language|Module|Setconfig|Databackup"} active open{/case}
                            {/switch}">
                            <a href="javascript:;" class="nav-link nav-toggle">
				                <i class="icon-settings"></i>
                                <span class="title">{$Think.lang.v_system_manage}</span>
                                <span class="selected"></span><span class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                {eq name="Think.config.authgroup" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="AuthGroup"} active open{/eq}">
                                    <a href="{:url('AuthGroup/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-users"></i> {$Think.lang.v_usergroup_manage}{eq name="Request.controller" value="AuthGroup"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.authrule" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="AuthRule"} active open{/eq}">
                                    <a href="{:url('AuthRule/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-briefcase"></i> {$Think.lang.v_auth_manage}{eq name="Request.controller" value="AuthRule"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.language" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Language"} active open{/eq}">
                                    <a href="{:url('Language/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-language"></i> {$Think.lang.v_language_manage}{eq name="Request.controller" value="Language"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.module" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Module"} active open{/eq}">
                                    <a href="{:url('Module/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-cubes"></i> {$Think.lang.v_module_manage}{eq name="Request.controller" value="Module"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.parametersetting" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Setconfig"} active open{/eq}">
                                    <a href="{:url('Setconfig/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-cogs"></i> {$Think.lang.v_config_setting}{eq name="Request.controller" value="Setconfig"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                                {eq name="Think.config.databackup" value="1"}
                                <li class="nav-item {eq name="Request.controller" value="Databackup"} active open{/eq}">
                                    <a href="{:url('Databackup/index?lang='.input('get.lang'))}" class="nav-link "><i class="fa fa-database"></i> {$Think.lang.v_data} {$Think.lang.v_backup}{eq name="Request.controller" value="Databackup"}<span class="fa fa-angle-right pull-right"></span>{/eq}</a>
                                </li>
                                {/eq}
                            </ul>
                        </li>
                        {/if}
                        <!--全局管理结束-->
                    </ul>
                    <!--响应式水平和侧边栏 结束-->
                </div>
