<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{:lang('内容管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>
						    {switch name="modulenav.id"}
                                {case value="1"}{:lang('产品')}{/case}
                                {case value="2"}{:lang('新闻')}{/case}
                                {case value="3"}{:lang('下载')}{/case}
                                {case value="4"}{$Think.lang.v_page_module}{/case}
                                {case value="5"}{:lang('案例')}{/case}
                                {default /}{$modulenav.modulename}
                            {/switch}
                                {:lang('管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>
						    {switch name="modulenav.id"}
                                {case value="1"}{:lang('产品')}{/case}
                                {case value="2"}{:lang('新闻')}{/case}
                                {case value="3"}{:lang('下载')}{/case}
                                {case value="4"}{$Think.lang.v_page_module}{/case}
                                {case value="5"}{:lang('案例')}{/case}
                                {default /}{$modulenav.modulename}
                            {/switch}
                            {:lang('属性')}</span></li>
                        </ul>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="col-md-12 margin-top-10 margin-bottom-10">
                        <div class="col-md-8">
                            <button type="button" class="btn green" onclick="javascript:window.location.href='{:url('Attribute/edit?moduleid='.input('get.moduleid').'&lang='.input('get.lang'))}'">{:lang('添加')} {:lang('属性')}</button>
                        </div>
                        <form name="form1" action="" method="post">
                            <input type="hidden" name="lang" value="{:input('get.lang')}">
                            <input type="hidden" name="moduleid" value="{:input('get.moduleid')}">
                            <div class="col-md-4 input-group">
                                <input type="text" name="keyword" class="form-control" placeholder="{:lang('快速查找')}" />
                                <span class="input-group-btn pdr5"><button type="submit" class="btn blue">{:lang('搜索')}</button></span>
                            </div>
                        </form>
                    </div>
                    <form name="form2" id="form2" action="" method="post">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column">
                            <thead>
                                <tr class="bg-default">
                                    <th>ID</th>
                                    <th>{:lang('属性名')}</th>
                                    <th>{:lang('属性值')}</th>
                                    <th>{:lang('所属分类')}</th>
                                    <th>{:lang('添加方式')}</th>
                                    <th>{:lang('排序')}</th>
                                    <th>{:lang('操作')}</th>
                                </tr>
                            </thead>
                            <tbody>
                              {volist name="list" id="rs"}
                                <input type="hidden" name="id[]" value="{$rs.id}" />
                                <tr class="odd gradeX">
                                    <td><input type="checkbox" name="selectid[]" id="selectid" value="{$rs['id']}" /> {$rs['id']}</td>
                                    <td>{$rs.attname}</td>
                                    <td>{$rs.attvalue}</td>
                                    <td>{$rs.s_title}</td>
                                    <td>
						                {switch name="rs.fieldtype"}
                                            {case value="2"}{:lang('复选框')}{/case}
                                            {case value="3"}{:lang('单行文本')}{/case}
                                            {case value="4"}{:lang('多行文本')}{/case}
                                            {default /}{:lang('列表选择')}
                                        {/switch}
                                    </td>
                                    <td><input name="sequence[]" type="text" value="{$rs['sequence']}" class="form-control input-sm" onKeyDown="if(event.keyCode==13)event.returnValue=false" onChange="if(/\D/.test(this.value)){alert('{:lang('必须为0或正整数')}！');this.value='0';}" /></td>
                                    <td><a href="{:url('Attribute/edit?moduleid='.$rs['moduleid'].'&id='.$rs['id'].'&lang='.input('get.lang'))}" class="btn green btn-sm"><i class="fa fa-edit"></i> {:lang('编辑')}</a><a class="btn red-flamingo btn-sm" onClick='return confirm("{$Think.lang.v_confirm_delete}！");' href="{:url('attribute/delete_one?id='.$rs['id'])}"><i class="fa fa-times"></i> {:lang('删除')}</a></td>
                                </tr>
                              {/volist}
                                <tr>
                                    <td colspan="7">
                                        <div class="col-md-7"><div class="pull-left pdl5">{$list->render()}</div><div class="pull-left lh31 pdl5">{:lang('共')} {$lastPage} {:lang('页')} {$total} {:lang('条记录')}</div></div>
                                        <div class="col-md-5"><div class="pull-right"><div class="pull-right"><button type="button" class="btn blue" onclick="CheckOthers(this.form);"><i class="fa fa-check"></i> {:lang('全选或反选')}</button><button type="button" class="btn green" onClick='ConfirmDel("","{:url('attribute/update_all')}","update");'><i class="fa fa-arrow-circle-o-up"></i> {:lang('批量更新')}</button><button type="button" class="btn red-flamingo" onClick='ConfirmDel("{$Think.lang.v_confirm_delete}！","{:url('attribute/delete_all')}","delete");'><i class="fa fa-times"></i> {:lang('删除所选')}</button></div></div></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
</body>
</html>