<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
<link href="__ADMIN__/bootstrap/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" type="text/css" />
<!--百度编辑器开始-->
<script src="__ADMIN__/bootstrap/global/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="__UEDITOR__/ueditor.config.js" type="text/javascript"></script>
{if condition="!$Request.isMobile"}
    <script src="__UEDITOR__/ueditor.all.min.js" type="text/javascript"></script>
{else /}
    <script src="__UEDITOR__/mobile.ueditor.all.min.js" type="text/javascript"></script>
{/if}
{if condition="$Think.get.lang eq 'cn' or $Think.get.lang eq 'tw'"}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/zh-cn/zh-cn.js"></script>
{else /}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/en/en.js"></script>
{/if}
<!--百度编辑器结束-->
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/global_left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{:lang('全局管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('系统管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('参数设置')}</span></li>
                        </ul>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="" class="form-horizontal">
                                <input type="hidden" name="lang" value="{:input('get.lang')}">
                                <div class="portlet bg-green bg-font-white">
                                    <div class="portlet-body">
                                        <div class="tabbable-bordered">
                                            <div class="edit_nav_left">
                                                <i class="fa fa-edit font-white"></i> <span class="font-white">{:lang('参数设置')}</span>
                                            </div>
                                            <ul class="nav nav-tabs tabs-reversed">
                                                <li>
                                                    <a href="#tab_meta" data-toggle="tab">{:lang('扩展')}</a>
                                                </li>
                                                <li class="active">
                                                    <a href="#tab_general" data-toggle="tab">{:lang('基本')}</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_general">
                                                    <div class="form-body">
                                                        <div class="alert alert-danger display-hide"><button class="close" data-close="alert"></button>{:lang('表单填写有误，清检查红色区域修正')}</div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_watermark} {:lang('类型')}</label>
                                                            <div class="radio-list col-md-9">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="water" id="optionsRadios1" value="0" {eq name="Think.config.water" value="0"}checked="checked" {/eq} />{:lang('禁用')}
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="water" id="optionsRadios1" value="1" {eq name="Think.config.water" value="1"}checked="checked" {/eq} />{$Think.lang.v_word} {$Think.lang.v_watermark}
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="water" id="optionsRadios1" value="2" {eq name="Think.config.water" value="2"}checked="checked" {/eq} />{:lang('图片')} {$Think.lang.v_watermark}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_watermark} {:lang('位置')}</label>
                                                            <div class="radio-list col-md-5">
                                                                <table class="table table-bordered table-condensed">
										                            <tr>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="1" {eq name="Think.config.waterPosition" value="1"}checked="checked" {/eq}/>{:lang('左上角')}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="2" {eq name="Think.config.waterPosition" value="2"}checked="checked" {/eq}/>{:lang('上居中')}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="3" {eq name="Think.config.waterPosition" value="3"}checked="checked" {/eq}/>{:lang('右上角')}</label></td>
                                                                    </tr>
										                            <tr>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="4" {eq name="Think.config.waterPosition" value="4"}checked="checked" {/eq}/>{:lang('左局中')}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="5" {eq name="Think.config.waterPosition" value="5"}checked="checked" {/eq}/>{:lang('正局中')}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="6" {eq name="Think.config.waterPosition" value="6"}checked="checked" {/eq}/>{:lang('右局中')}</label></td>
                                                                    </tr>
										                            <tr>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="7" {eq name="Think.config.waterPosition" value="7"}checked="checked" {/eq}/>{:lang('左下角')}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="8" {eq name="Think.config.waterPosition" value="8"}checked="checked" {/eq}/>{:lang('下居中')}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="waterPosition" value="9" {eq name="Think.config.waterPosition" value="9"}checked="checked" {/eq}/>{:lang('右下角')}</label></td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_watermark} {:lang('图片')}</label>
                                                            <div class="col-md-5">
                                                                <div class="input-group"><input type="text" name="waterImage" id="morepics1" value="{$Think.config.waterImage}" class="form-control" /><span class="input-group-btn"><input type="button" onClick="upImage1();" value=" {:lang('上传图片')} " class="btn green" /></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_watermark} {$Think.lang.v_transparency}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="transparency" value="{$Think.config.transparency}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_watermark} {$Think.lang.v_word}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="waterText" value="{$Think.config.waterText}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_watermark} {$Think.lang.v_font}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="waterfont" value="{$Think.config.waterfont}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">{$Think.lang.v_word} {$Think.lang.v_color}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" id="position-bottom-right" class="form-control demo" data-position="bottom right" name="watercolor" value="{$Think.config.watercolor}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_word} {$Think.lang.v_size}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="watersize" value="{$Think.config.watersize}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('是否启用')} {$Think.lang.v_thumbnail}</label>
                                                            <div class="radio-list col-md-9">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="thumbnail" id="optionsRadios1" value="1" {eq name="Think.config.thumbnail" value="1"}checked="checked" {/eq} />{:lang('是')}
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="thumbnail" id="optionsRadios1" value="0" {eq name="Think.config.thumbnail" value="0"}checked="checked" {/eq} />{:lang('否')}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_thumbnail} {$Think.lang.v_size}</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="input-xsmall" name="thumbwidth" value="{$Think.config.thumbwidth}" /> X <input type="text" class="input-xsmall" name="thumbheight" value="{$Think.config.thumbheight}" /> px
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_thumbnail} {$Think.lang.v_mode}</label>
                                                            <div class="radio-list col-md-5">
                                                                <table class="table table-bordered table-condensed">
										                            <tr>
										                                <td><label class="radio-inline"><input type="radio" name="thumb" value="1" {eq name="Think.config.thumb" value="1"}checked="checked" {/eq}/>{$Think.lang.v_proportional_scaling}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="thumb" value="2" {eq name="Think.config.thumb" value="2"}checked="checked" {/eq}/>{$Think.lang.v_scale_after_filling}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="thumb" value="3" {eq name="Think.config.thumb" value="3"}checked="checked" {/eq}/>{$Think.lang.v_centering_cutting_type}</label></td>
										                            </tr>
										                            <tr>
										                                <td><label class="radio-inline"><input type="radio" name="thumb" value="4" {eq name="Think.config.thumb" value="4"}checked="checked" {/eq}/>{$Think.lang.v_upper_left_corner_cutting}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="thumb" value="5" {eq name="Think.config.thumb" value="5"}checked="checked" {/eq}/>{$Think.lang.v_lower_right_corner_cutting}</label></td>
										                                <td><label class="radio-inline"><input type="radio" name="thumb" value="6" {eq name="Think.config.thumb" value="6"}checked="checked" {/eq}/>{$Think.lang.v_fixed_size_scaling}</label></td>
										                            </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_img_upload_size_limit}【KB】</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="imageMaxSize" value="{$Think.config.imageMaxSize}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{$Think.lang.v_file_upload_size_limit}【MB】</label>
                                                            <div class="col-md-5">
                                                                <input type="text" class="form-control" name="fileMaxSize" value="{$Think.config.fileMaxSize}" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="tab_meta">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('PC端和移动端共用模板')}</label>
                                                            <div class="radio-list col-md-9">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="settheme" id="optionsRadios1" value="1" {eq name="Think.config.settheme" value="1"}checked="checked" {/eq} />{:lang('是')}
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="settheme" id="optionsRadios1" value="0" {eq name="Think.config.settheme" value="0"}checked="checked" {/eq} />{:lang('否')}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('后台要显示的模块')}<br />（{:lang('请勾选')}）</label>
                                                            <div class="col-md-8">
                                                                <div class="panel-group accordion faq-content" id="accordion1">
                                                                    <div class="panel panel-default">
                                                                        <div id="collapse_1" class="panel-collapse collapse in">
                                                                            <div class="panel-body">
                                                                                <div class="icheck-inline">
                                                                                    <label class="cursor"><input name="siteinfo[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.siteinfo" value=""}checked="checked"{/neq} /> {:lang('网站设置')}</label>
                                                                                    <label class="cursor"><input name="field[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.field" value=""}checked="checked"{/neq} /> {:lang('字段')}</label>
                                                                                    <label class="cursor"><input name="guestbook[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.guestbook" value=""}checked="checked"{/neq} /> {:lang('留言')}</label>
                                                                                    <label class="cursor"><input name="chat[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.chat" value=""}checked="checked"{/neq} /> {:lang('在线客服')}</label>
                                                                                    <label class="cursor"><input name="ad[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.ad" value=""}checked="checked"{/neq} /> {:lang('广告')}</label>
                                                                                    <label class="cursor"><input name="keyword[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.keyword" value=""}checked="checked"{/neq} /> {:lang('关键词')}</label>
                                                                                    <label class="cursor"><input name="navigation[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.navigation" value=""}checked="checked"{/neq} /> {:lang('导航')}</label>
                                                                                    <label class="cursor"><input name="comment[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.comment" value=""}checked="checked"{/neq} /> {:lang('评论')}</label>
                                                                                    <label class="cursor"><input name="area[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.area" value=""}checked="checked"{/neq} /> {$Think.lang.v_area}</label>
                                                                                    <label class="cursor"><input name="user[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.user" value=""}checked="checked"{/neq} /> {:lang('用户')}</label>
                                                                                    <label class="cursor"><input name="authgroup[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.authgroup" value=""}checked="checked"{/neq} /> {:lang('用户组')}</label>
                                                                                    <label class="cursor"><input name="authrule[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.authrule" value=""}checked="checked"{/neq} /> {:lang('权限管理')}</label>
                                                                                    <label class="cursor"><input name="language[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.language" value=""}checked="checked"{/neq} /> {:lang('语言管理')}</label>
                                                                                    <label class="cursor"><input name="module[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.module" value=""}checked="checked"{/neq} /> {:lang('模块管理')}</label>
                                                                                    <label class="cursor"><input name="parameter[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.parameter" value=""}checked="checked"{/neq} /> {:lang('参数设置')}</label>
                                                                                    <label class="cursor"><input name="databackup[]" type="checkbox" value="1" {neq name="Think.config.isdisplay.databackup" value=""}checked="checked"{/neq} /> {:lang('数据库')}</label>
                                                                              </div>        
                                                                            </div>    
                                                                        </div>    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green"><i class="fa fa-check"></i> {:lang('保存')}</button>
                                                            <button type="button" class="btn default" onclick="javascript:history.back(-1);">{:lang('返回上一页')}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
<script src="__ADMIN__/bootstrap/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!--颜色拾取器 开始-->
<script src="__ADMIN__/bootstrap/global/plugins/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="__ADMIN__/bootstrap/pages/scripts/components-color-pickers.min.js" type="text/javascript"></script>
<!--颜色拾取器 结束-->
<!--图片上传开始-->
<script type="text/plain" id="input_editor1" style="display:none;"></script>
<script type="text/javascript">
//弹出图片上传的对话框
    var url='{:url('Ueditor/Index')}';
    //实例化编辑器
    var upload_editor1 = UE.getEditor('input_editor1',{
        serverUrl :url,
        UEDITOR_HOME_URL:'/public/ueditor/',
    });
function upImage1(){
	  
    upload_editor1.ready(function(){
        upload_editor1.execCommand('serverparam', {
        'userid': 'image',//图片子文件夹
        });

        upload_editor1.hide();//隐藏编辑器
        //监听图片上传
        upload_editor1.addListener('beforeInsertImage', function (t,arg){
            document.getElementById("morepics1").value=arg[0].src;
        });
    });
    //弹出图片上传的对话框
    var myImage1 = upload_editor1.getDialog("insertimage");
    myImage1.open();
}
</script>
<!--图片上传结束-->
</body>
</html>