<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/global_left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{:lang('全局管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('全局管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('关键词')} {:lang('管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{eq name="rs.id" value=""}{:lang('添加')}{else /}{:lang('编辑')}{/eq} {:lang('关键词')}</span></li>
                        </ul>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="" class="form-horizontal" id="validationForm">
                                <input type="hidden" name="id" value="{$rs.id}">
                                <input type="hidden" name="lang" value="{:input('get.lang')}">
                                <input type="hidden" name="fieldtype" value="{eq name="Think.get.fieldtype" value=""}{$rs['fieldtype']}{else /}{:input('get.fieldtype')}{/eq}" />
                                <div class="portlet bg-green bg-font-white">
                                    <div class="portlet-body">
                                        <div class="tabbable-bordered">
                                            <div class="edit_nav_left">
                                                <i class="fa fa-edit font-white"></i> <span class="font-white">{eq name="rs.id" value=""}{:lang('添加')}{else /}{:lang('编辑')}{/eq} {:lang('关键词')}</span>
                                            </div>
                                            <ul class="nav nav-tabs tabs-reversed"></ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_general">
                                                    <div class="form-body">
                                                        <div class="alert alert-danger display-hide"><button class="close" data-close="alert"></button>{:lang('表单填写有误，清检查红色区域修正')}</div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('关键词')}</label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" name="keyword" value="{$rs.keyword}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('链接地址')}</label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" name="linkurl" value="{$rs.linkurl}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('排序')}</label>
                                                            <div class="col-md-4">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="sequence" value="{php}if(empty($rs['sequence'])){ echo "0"; }else{ echo $rs['sequence']; }{/php}" onKeyDown="if(event.keyCode==13)event.returnValue=false" onChange="if(/\D/.test(this.value)){alert('{:lang('必须为0或正整数')}！');this.value='0';}" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green"><i class="fa fa-check"></i> {:lang('保存')}</button>
                                                            <button type="button" class="btn default" onclick="javascript:history.back(-1);">{:lang('返回上一页')}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
<script src="__ADMIN__/bootstrap/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
</body>
</html>