<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/global_left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{$Think.lang.v_global}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{$Think.lang.v_global}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{$Think.lang.v_comment} {$Think.lang.v_manage}</span></li>
                        </ul>
                        <form name="formsearch" method="post" action="">
                            <input type="hidden" name="lang" value="{:input('get.lang')}">
                            <div class="col-md-4 input-group pull-right margin-top-5">
                                <input type="text" name="keyword" class="form-control" placeholder="{$Think.lang.v_quickfind}" />
                                <span class="input-group-btn pdr5"><button type="submit" class="btn blue">{$Think.lang.v_search}</button></span>
                            </div>
                        </form>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="col-md-12 margin-top-10"></div>
                    <form name="form2" id="form2" action="" method="post">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column">
                            <thead>
                                <tr class="bg-default">
                                    <th>ID</th>
                                    <th>{$Think.lang.v_comment} {$Think.lang.v_content_a}</th>
                                    <th>{$Think.lang.v_reply}</th>
                                    <th>{$Think.lang.v_date}</th>
                                    <th>{$Think.lang.v_status}</th>
                                    <th>{$Think.lang.v_sequence}</th>
                                    <th>{$Think.lang.v_do}</th>
                                </tr>
                            </thead>
                            <tbody>
                              {volist name="list" id="rs"}
                                <input type="hidden" name="id[]" value="{$rs.id}" />
                                <tr class="odd gradeX">
                                    <td><input type="checkbox" name="selectid[]" id="selectid" value="{$rs['id']}" /> {$rs['id']}</td>
                                    <td>
                                        {$rs['html']} {$rs['content']|mb_substr=###,0,36,'utf-8'}
                                        {eq name="defaultlang" value="$rs.lang"}
                                            {php}$mulu = '/';{/php}
                                        {else /}
                                            {php}$mulu = '/'.$rs['lang'].'/';{/php}
                                        {/eq}
                                        {switch name="rs['moduleid']"}
                                            {case value="1"}
                                                [ {$Think.lang.v_product} ]
                                                <a href="{:url($mulu.'product/view?id='.$rs['infoid'])}" target="_blank">&gt;&gt;{$Think.lang.v_view} {$Think.lang.v_original}</a>
                                            {/case}
                                            {case value="2"}
                                                [ {$Think.lang.v_news} ]
                                                <a href="{:url($mulu.'news/view?id='.$rs['infoid'])}" target="_blank">&gt;&gt;{$Think.lang.v_view} {$Think.lang.v_original}</a>
                                            {/case}
                                            {case value="3"}
                                                [ {$Think.lang.v_about_module} ]
                                                <a href="{:url($mulu.'about/view?id='.$rs['infoid'])}" target="_blank">&gt;&gt;{$Think.lang.v_view} {$Think.lang.v_original}</a>
                                            {/case}
                                            {case value="4"}
                                                [ {$Think.lang.v_project} ]
                                                <a href="{:url($mulu.'project/view?id='.$rs['infoid'])}" target="_blank">&gt;&gt;{$Think.lang.v_view} {$Think.lang.v_original}</a>
                                            {/case}
                                            {case value="5"}
                                                [ {$Think.lang.v_down} ]
                                                <a href="{:url($mulu.'down/view?id='.$rs['infoid'])}" target="_blank">&gt;&gt;{$Think.lang.v_view} {$Think.lang.v_original}</a>
                                            {/case}
                                            {default /}
                                        {/switch}
                                    </td>
                                    <td><a href="{:url('Comment/edit?moduleid='.$rs['moduleid'].'&parentid='.$rs['id'].'&id='.$rs['id'].'&reply=yes&lang='.input('get.lang'))}">{$Think.lang.v_reply}</a></td>
                                    <td>{$rs['addtime']|date='Y-m-d H:i:s',###}</td>
                                    <td>
						                {eq name="rs['status']" value="1"}
						                    <a onClick='return confirm("{$Think.lang.v_whether} {$Think.lang.v_check_cancel}？");' href="{:url('Comment/update_status?status=0&id='.$rs['id'])}" class="btn green btn-sm">{$Think.lang.v_audit}</a>
						                {else/}
						                    <a onClick='return confirm("{$Think.lang.v_whether} {$Think.lang.v_check_pass}？");' href="{:url('Comment/update_status?status=1&id='.$rs['id'])}" class="btn red-flamingo btn-sm">{$Think.lang.v_audit_pending}</a>
                                        {/eq}
                                    </td>
                                    <td><input name="sequence[]" type="text" value="{$rs['sequence']}" class="form-control input-sm" onKeyDown="if(event.keyCode==13)event.returnValue=false" onChange="if(/\D/.test(this.value)){alert('{$Think.lang.v_require_number}！');this.value='0';}" /></td>
                                    <td><a href="{:url('Comment/edit?moduleid='.$rs['moduleid'].'&parentid='.$rs['parentid'].'&id='.$rs['id'].'&lang='.input('get.lang'))}" class="btn green btn-sm"><i class="fa fa-edit"></i> {$Think.lang.v_edit}</a><a class="btn red-flamingo btn-sm" onClick='return confirm("{$Think.lang.v_confirm_delete}！");' href="{:url('comment/delete_one?id='.$rs['id'])}"><i class="fa fa-times"></i> {$Think.lang.v_delete}</a></td>
                                </tr>
                              {/volist}
                                <tr>
                                    <td colspan="7">
                                        <div class="col-md-5"><div class="pull-left lh31 pdl5">{$Think.lang.v_total} {$total} {$Think.lang.v_records}</div></div>
                                        <div class="col-md-7"><button type="button" class="btn blue" onclick="CheckOthers(this.form);"><i class="fa fa-check"></i> {$Think.lang.v_select_all}</button><button type="button" class="btn green-meadow" onClick='ConfirmDel("","{:url('comment/update_pass?status=1')}","update");'><i class="fa fa-check-circle-o"></i> {$Think.lang.v_check_pass}</button><button type="button" class="btn red-intense" onClick='ConfirmDel("","{:url('comment/update_pass?status=0')}","update");'><i class="fa fa-minus-circle"></i> {$Think.lang.v_check_cancel}</button><button type="button" class="btn green" onClick='ConfirmDel("","{:url('comment/update_all')}","update");'><i class="fa fa-arrow-circle-o-up"></i> {$Think.lang.v_update_all}</button><button type="button" class="btn red-flamingo" onClick='ConfirmDel("{$Think.lang.v_confirm_delete}！","{:url('comment/delete_all')}","delete");'><i class="fa fa-times"></i> {$Think.lang.v_delete_select}</button></div></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
</body>
</html>