<!--有理想的地方，地狱都是天堂-->
<!--Copyright @ df81.com 版权所有-->
<!--作者: 符工@邦明 邮箱：1062129401@qq.com-->
{include file="public/head" /}
<!--百度编辑器开始-->
<script src="__ADMIN__/bootstrap/global/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="__UEDITOR__/ueditor.config.js" type="text/javascript"></script>
{if condition="!$Request.isMobile"}
    <script src="__UEDITOR__/ueditor.all.min.js" type="text/javascript"></script>
{else /}
    <script src="__UEDITOR__/mobile.ueditor.all.min.js" type="text/javascript"></script>
{/if}
{if condition="$Think.get.lang eq 'cn' or $Think.get.lang eq 'tw'"}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/zh-cn/zh-cn.js"></script>
{else /}
<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/en/en.js"></script>
{/if}
<!--百度编辑器结束-->
        <!--容器 开始-->
        <div class="page-container">
            <!--侧边栏 开始-->
            <div class="page-sidebar-wrapper">
                <!--侧边栏 开始-->
                <div class="page-sidebar navbar-collapse collapse">
                    {include file="public/global_left" /}
                    {include file="public/response_left" /}
                </div>
            <!--侧边栏 结束-->
            </div>
            <!--侧边栏 结束-->
            <!--内容 开始-->
            <div class="page-content-wrapper">
                <!--内容主体 开始-->
                <div class="page-content">
                    <!--页面头部 开始-->
                    <!--页面导航 开始-->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li><span>{:lang('全局管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('系统管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{:lang('语言管理')}</span><i class="fa fa-angle-right"></i></li>
                            <li><span>{eq name="rs.id" value=""}{:lang('添加')}{else /}{:lang('编辑')}{/eq} {:lang('语言')}</span></li>
                        </ul>
                    </div>
                    <!--页面导航 结束-->
                    <!--页面头部 结束-->
                    <!--右侧主体 开始-->
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" action="" class="form-horizontal" id="validationForm">
                                <input type="hidden" name="id" value="{$rs.id}">
                                <input type="hidden" name="lang" value="{:input('get.lang')}">
                                <div class="portlet bg-green bg-font-white">
                                    <div class="portlet-body">
                                        <div class="tabbable-bordered">
                                            <div class="edit_nav_left">
                                                <i class="fa fa-edit font-white"></i> <span class="font-white">{eq name="rs.id" value=""}{:lang('添加')}{else /}{:lang('编辑')}{/eq} {:lang('语言')}</span>
                                            </div>
                                            <ul class="nav nav-tabs tabs-reversed"></ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_general">
                                                    <div class="form-body">
                                                        <div class="alert alert-danger display-hide"><button class="close" data-close="alert"></button>{:lang('表单填写有误，清检查红色区域修正')}</div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('前台语言名称')}<span class="required" aria-required="true">*</span></label>
                                                            <div class="col-md-5">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="viewtitle" value="{$rs.viewtitle}" placeholder="{:lang('如：中文')}" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('后台语言名称')}<span class="required" aria-required="true">*</span></label>
                                                            <div class="col-md-5">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="admintitle" value="{$rs.admintitle}" placeholder="{:lang('如：中文')}" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('目录')}<span class="required" aria-required="true">*</span></label>
                                                            <div class="col-md-5">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="mulu" value="{$rs.mulu}" placeholder="{:lang('如：只能输入英文小写字母')}" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('排序')}<span class="required" aria-required="true">*</span></label>
                                                            <div class="col-md-4">
                                                                <div class="input-icon right"><i class="fa"></i><input type="text" class="form-control" name="sequence" value="{php}if(empty($rs['sequence'])){ echo "0"; }else{ echo $rs['sequence']; }{/php}" onKeyDown="if(event.keyCode==13)event.returnValue=false" onChange="if(/\D/.test(this.value)){alert('{:lang('必须为0或正整数')}！');this.value='0';}" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('图标')}</label>
                                                            <div class="col-md-4">
                                                                <div class="input-group"><input type="text" name="ico" id="morepics1" value="{$rs['ico']}" class="form-control" /><span class="input-group-btn"><input type="button" onClick="upImage1();" value=" {:lang('上传图片')} " class="btn green" /></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('是否启用')}</label>
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="status" id="optionsRadios1" value="1"{neq name="rs['status']" value="0"} checked="checked"{/neq} /> {:lang('启用')}
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="status" id="optionsRadios1" value="0"{eq name="rs['status']" value="0"} checked="checked"{/eq} />{:lang('禁用')}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">{:lang('是否默认')}</label>
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="isdefault" id="optionsRadios1" value="1"{neq name="rs['isdefault']" value="0"} checked="checked"{/neq} /> {:lang('设为默认')}
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="isdefault" id="optionsRadios1" value="0"{eq name="rs['isdefault']" value="0"} checked="checked"{/eq} />{:lang('取消默认')}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button type="submit" class="btn green"><i class="fa fa-check"></i> {:lang('保存')}</button>
                                                            <button type="button" class="btn default" onclick="javascript:history.back(-1);">{:lang('返回上一页')}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--右侧主体 结束-->
                </div>
                <!--内容主体 结束-->
            </div>
            <!--内容 结束-->
        </div>
        <!--容器 结束-->
{include file="public/foot" /}
<!--图片上传开始-->
<script type="text/plain" id="input_editor1" style="display:none;"></script>
<script type="text/javascript">
//弹出图片上传的对话框
    var url='{:url('Ueditor/Index')}';
    //实例化编辑器
    var upload_editor1 = UE.getEditor('input_editor1',{
        serverUrl :url,
        UEDITOR_HOME_URL:'/public/ueditor/',
    });
function upImage1(){
	  
    upload_editor1.ready(function(){
        upload_editor1.execCommand('serverparam', {
        'userid': 'image',//图片子文件夹
        });

        upload_editor1.hide();//隐藏编辑器
        //监听图片上传
        upload_editor1.addListener('beforeInsertImage', function (t,arg){
            document.getElementById("morepics1").value=arg[0].src;
        });
    });
    //弹出图片上传的对话框
    var myImage1 = upload_editor1.getDialog("insertimage");
    myImage1.open();
}
</script>
<!--图片上传结束-->
<script src="__ADMIN__/bootstrap/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
</body>
</html>